/* MultiPlayer styles  */
@import '../../../Assets/styles/shared-styles/variables';
@import '../../../Assets/styles/shared-styles/mixins';

.FlexCol {
	composes: flex--colCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
}

.FlexRow {
	composes: flex--rowCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
}

.Enabled {
	composes: button--default animation--scaleOnHover from '../../../Assets/styles/shared-styles/shared-styles.css';
	pointer-events: auto;
	opacity: 1;
	transform: scale(1);
	transition: all 0.3s;
}

.Disabled {
	composes: button--default from '../../../Assets/styles/shared-styles/shared-styles.css';
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.3;
	transform: scale(0.8);
	transition: all 0.3s;
}
