/* Leaderboard styles */
@import '../../Assets/styles/shared-styles/variables';
@import '../../Assets/styles/shared-styles/mixins';

.FlexCol {
	composes: flex--colCenter from '../../Assets/styles/shared-styles/shared-styles.css';
}

.PlayersSearch {
	composes: flex--rowCenter marginB--md marginT--sm from '../../Assets/styles/shared-styles/shared-styles.css';
	margin-left: auto;
	margin-right: auto;
	width: 80%;

	@include mediaQuery($tablet, max) {
		flex-direction: column;
		align-items: center;
	}
}

.PlayersSearchInputWrapper {
	position: relative;
	@include mediaQuery($tablet, max) {
		width: 100%;
	}
}

.PlayersSearchInput {
	@include mediaQuery($tablet, max) {
		width: 100%;
	}
}

.Button {
	composes: button--default animation--scaleOnHover from '../../Assets/styles/shared-styles/shared-styles.css';
	cursor: pointer;
	@include mediaQuery($tablet, max) {
		width: 100%;
	}
}

.ButtonClearTxt {
	composes: animation--scaleOnHover paddingALL--xxs from '../../Assets/styles/shared-styles/shared-styles.css';
	border: none;
	background: $light;
	position: absolute;
	top: 5px;
	right: 2px;
	color: $gray;
}

.PlayersList {
	composes: noMargin noPadding from '../../Assets/styles/shared-styles/shared-styles.css';
	margin-bottom: $md;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $md;

	@include mediaQuery($tablet, max) {
		grid-template-columns: 1fr;
	}
}

.Player {
	composes: button--default paddingALL--md from '../../Assets/styles/shared-styles/shared-styles.css';
	align-items: center;
	min-width: 230px;
}

.PlayerImage {
	composes: borderRadius--xs from '../../Assets/styles/shared-styles/shared-styles.css';
	width: 150px;
}

.PlayerTxt {
	color: $gray;
	font-size: $sm;
}

.PlayerTxtBold {
	font-size: $md;
}
