/* Board styles */
@import '../../../Assets/styles/shared-styles/variables';
@import '../../../Assets/styles/shared-styles/mixins';

.FlexCol {
	composes: flex--colCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
	align-items: center;
	position: relative;
}

.WrapperGrid {
	composes: marginB--xxl from '../../../Assets/styles/shared-styles/shared-styles.css';
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 70px;

	@include mediaQuery($phoneWide, max) {
		margin-top: 110px;
	}
}

.GameEndInfoStylesNormal {
	min-height: $xxl;
	color: $gray;
	position: absolute;
	width: 70vw;

	@include mediaQuery($phoneWide, max) {
		top: 30px;
	}
}

.GameEndInfoStylesWinner {
	composes: GameEndInfoStylesNormal;
	color: $dark;
	top: -5px;
	font-size: $xxl;
}
