/* Loading styles */
@import '../../../Assets/styles/shared-styles/variables';

.FlexRow {
	composes: flex--rowCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
	justify-content: center;
}

.LoadingIco {
	composes: animation--spin from '../../../Assets/styles/shared-styles/shared-styles.css';
}

.LoadingTxtLarge {
	composes: marginL--xs from '../../../Assets/styles/shared-styles/shared-styles.css';
	font-size: $md;
}

.LoadingTxtSmall {
	composes: marginL--xs from '../../../Assets/styles/shared-styles/shared-styles.css';
	font-size: $sm;
}
