/* RestartButton styles */
@import '../../../Assets/styles/shared-styles/variables';
@import '../../../Assets/styles/shared-styles/mixins';

.ButtonNormal {
	composes: flex--rowCenter borderRadius--xxs animation--scaleOnHover from '../../../Assets/styles/shared-styles/shared-styles.css';
	align-items: center;
	color: $gray;
	border: 1px solid $borders;
}

.ButtonRestart {
	composes: ButtonNormal;
	color: $dark;
	border: 1px solid $dark;
	transform: scale(1.1);
}

.Icon {
	composes: marginR--xs from '../../../Assets/styles/shared-styles/shared-styles.css';
	color: inherit;
}

.Text {
	font-size: $xs;
	color: inherit;
}
