/* Animation helpers */
.animation--pulse {
	display: inline-block;
	animation: pulse 0.8s infinite linear;
}
@keyframes pulse {
	0% {
		transform: scale(1.5);
		opacity: 1;
	}
	50% {
		transform: scale(0.8);
		opacity: 0.8;
	}
	100% {
		transform: scale(1.5);
		opacity: 1;
	}
}

.animation--spin {
	display: flex;
	position: relative;
	top: 2px;
	animation: spin 800ms infinite linear;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animation--scaleOnHover {
	transition: transform 0.3s;
	&:hover {
		cursor: pointer;
		transform: scale(0.95);
	}
}
