/* Button helpers */

.button {
	&--default {
		display: inline-block;
		border: 1px solid $borders;
		padding: $xs;
		border-radius: $xs;
		color: $dark;
	}

	&--topCenter {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	&--topLeft {
		position: absolute;
		top: 20px;
		left: 20px;

		@include mediaQuery($phoneWide, max) {
			left: 50%;
			transform: translateX(-50%);
			&:hover {
				transform: translateX(-50%) scale(0.95);
			}
		}
	}
}
