/* Layout helpers */
@import './variables';

.flex {
	&--rowCenter {
		display: flex;
		justify-content: center;
	}

	&--colCenter {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
