/* Mixin helpers */
/* use mixins only for cases where we set values based on use case, for static copy/paste css use composes! */
@import './variables';

//set ... on long text
@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//use media queries with variables
$breakpoints: (
	$phone: $phone,
	$phoneWide: $phoneWide,
	$phablet: $phablet,
	$tablet: $tablet,
	$desktop: $desktop,
	$desktopWide: $desktopWide,
);
@mixin mediaQuery($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}
