/* Colors related variables */
$light: #fff;
$dark: #4b4a4a;
$gray: #c0bebe;
$lightGray: #e9e9e9;
$blue: #2ba4cf;
$orange: #f0a758;
$green: #89be4e;
$pink: #dd72a1;
$borders: $lightGray;

/* Numbers related variables */
$xxs: 5px;
$xs: 10px;
$sm: 15px;
$md: 20px;
$lg: 25px;
$xxl: 30px;

/* Media queries variables */
$phone: 320px;
$phoneWide: 480px;
$phablet: 560px;
$tablet: 768px;
$desktop: 1248px;
$desktopWide: 1440px;
