/* RestartButton styles */
@import '../../../Assets/styles/shared-styles/variables';
@import '../../../Assets/styles/shared-styles/mixins';

.Wrapper {
	composes: button--topLeft flex--colCenter animation--scaleOnHover from '../../../Assets/styles/shared-styles/shared-styles.css';
	color: $gray;
	background: transparent;
}

.Icon {
	composes: marginB--xs marginR--xs from '../../../Assets/styles/shared-styles/shared-styles.css';
	color: inherit;
}

.How {
	font-size: $xs;
	color: inherit;
}
