/* Home styles */
@import '../../Assets/styles/shared-styles/variables';
@import '../../Assets/styles/shared-styles/mixins';

.FlexRow {
	composes: flex--rowCenter from '../../Assets/styles/shared-styles/shared-styles.css';
}

.FlexCol {
	composes: flex--colCenter from '../../Assets/styles/shared-styles/shared-styles.css';
}

.MarginBottom {
	composes: marginB--sm from '../../Assets/styles/shared-styles/shared-styles.css';
}

.GameMode {
	composes: flex--rowCenter borderRadius--xxs marginB--sm from '../../Assets/styles/shared-styles/shared-styles.css';
	justify-content: space-around;
	align-items: center;
	min-width: 350px;
	height: 150px;
	border: 1px solid $borders;

	@include mediaQuery($tablet, max){
		min-width: 250px;
	}
}

.GameModeInner {
	composes: flex--colCenter from '../../Assets/styles/shared-styles/shared-styles.css';
	justify-content: center;
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.2);
	}
}

.GameModeTxt {
	color: $dark;
}

.BestPlayersBtn {
	composes: button--default animation--scaleOnHover from '../../Assets/styles/shared-styles/shared-styles.css';
}

.PlayerOne {
	composes: borderRadius--xs marginB--sm from '../../Assets/styles/shared-styles/shared-styles.css';
	height: 55px;
	width: 55px;
	background: url('../../Assets/images/AvatarsSprite.png');
	background-size: cover;
}

.PlayerOneMulti {
	composes: PlayerOne;
	transform: rotate(-20deg);
}

.PlayerTwoMulti {
	composes: PlayerOne;
	background-position: 0 -115px;
	transform: rotate(20deg);
}
