/* AvatarInGame styles  */
@import '../../../Assets/styles/shared-styles/variables';
@import '../../../Assets/styles/shared-styles/mixins';

.PlayerName {
	composes: noMargin from '../../../Assets/styles/shared-styles/shared-styles.css';
	font-size: $md;
	@include truncate(180px);

	@include mediaQuery($phoneWide, max) {
		@include truncate(100px);
	}
}

.PlayerWinNumb {
	composes: noMargin from '../../../Assets/styles/shared-styles/shared-styles.css';
	font-size: $sm;
}

.Player {
	composes: flex--colCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
	justify-items: center;
	transition: transform 0.3s;
}

.PlayerPlaying {
	composes: Player;
	transform: scale(1.2);
}

.PlayerWinner {
	composes: flex--colCenter animation--pulse from '../../../Assets/styles/shared-styles/shared-styles.css';
	justify-items: center;
}

.AvatarWrapper {
	position: relative;
}

.AvatarBubbleX {
	position: absolute;
	right: -40px;
	top: -5px;
}

.AvatarBubbleO {
	position: absolute;
	left: -40px;
	top: -5px;
}
