/* Avatar styles */
@import '../../../Assets/styles/shared-styles/variables';

.AvatarImage {
	composes: marginB--xs borderRadius--xs from '../../../Assets/styles/shared-styles/shared-styles.css';
	height: 55px;
	width: 55px;
	background: url('../../../Assets/images/AvatarsSprite.png');
	background-size: cover;
	transition: background-position 0.3s;
}

.AvatarImageBlue {
	composes: AvatarImage;
	background-position: 0 0;
}
.AvatarImageOrange {
	composes: AvatarImage;
	background-position: 0 -60px;
}
.AvatarImageGreen {
	composes: AvatarImage;
	background-position: 0 -115px;
}
.AvatarImagePink {
	composes: AvatarImage;
	background-position: 0 -175px;
}
