/* SinglePlayer styles */
@import '../../../Assets/styles/shared-styles/variables';

.FlexCol {
	composes: flex--colCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
}

.Button {
	composes: button--default animation--scaleOnHover marginL--sm marginR--sm from '../../../Assets/styles/shared-styles/shared-styles.css';
}
