/* Avatar styles */
@import '../../../Assets/styles/shared-styles/variables';
@import '../../../Assets/styles/shared-styles/mixins';

.Wrapper {
	composes: flex--colCenter marginB--sm from '../../../Assets/styles/shared-styles/shared-styles.css';
}

.WrapperIcon {
	composes: marginB--sm from '../../../Assets/styles/shared-styles/shared-styles.css';
	max-width: 60px;
}

.Input {
	composes: paddingALL--xs from '../../../Assets/styles/shared-styles/shared-styles.css';
	text-align: center;
	width: 80%;
}

.FlexRow {
	composes: flex--rowCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
}

.AvatarPicker {
	composes: paddingALL--xxs marginR--xxs from '../../../Assets/styles/shared-styles/shared-styles.css';
	border: none;
	cursor: pointer;

	@include mediaQuery($phoneWide, max) {
		padding: 10px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.AvatarPickerBlue {
	composes: AvatarPicker;
	background: $blue;
}
.AvatarPickerBlueActive {
	transform: scale(1.1);
	composes: AvatarPickerBlue;
	outline: 2px solid $gray;
	&:focus {
		outline: 2px solid $gray;
	}
}

.AvatarPickerGreen {
	composes: AvatarPicker;
	background: $green;
}
.AvatarPickerGreenActive {
	transform: scale(1.1);
	composes: AvatarPickerGreen;
	outline: 2px solid $gray;
	&:focus {
		outline: 2px solid $gray;
	}
}

.AvatarPickerOrange {
	composes: AvatarPicker;
	background: $orange;
}
.AvatarPickerOrangeActive {
	transform: scale(1.1);
	composes: AvatarPickerOrange;
	outline: 2px solid $gray;
	&:focus {
		outline: 2px solid $gray;
	}
}

.AvatarPickerPink {
	composes: AvatarPicker;
	background: $pink;
}
.AvatarPickerPinkActive {
	transform: scale(1.1);
	composes: AvatarPickerPink;
	outline: 2px solid $gray;
	&:focus {
		outline: 2px solid $gray;
	}
}
