/* App styles */
@import 'Assets/styles/shared-styles/variables';
@import 'Assets/styles/shared-styles/mixins';

.MainBg {
	composes: borderRadius--xs from './Assets/styles/shared-styles/shared-styles.css';
	background: $light;
	padding: 5%;
	position: relative;
	max-width: 65%;
	min-height: 70vh;
	margin: 30px auto;

	@include mediaQuery($tablet, max) {
		max-width: 85%;
		padding-top: 80px;
	}
}
