/* Game styles  */
@import '../../../Assets/styles/shared-styles/variables';
@import '../../../Assets/styles/shared-styles/mixins';

.WrapperMain {
	composes: flex--rowCenter marginB--xs from '../../../Assets/styles/shared-styles/shared-styles.css';
	justify-content: space-between;
	width: 100%;
}

.FlexCol {
	composes: flex--colCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
}

.HomeBtn {
	composes: button--topCenter from '../../../Assets/styles/shared-styles/shared-styles.css';
	color: $gray;
	transition: all 0.3s;

	&:hover {
		cursor: pointer;
		transform: translateX(-50%) scale(0.95);
	}
}

.PlayerName {
	@include truncate(120px);
}
