/* Base styles */
@import '../shared-styles/variables';

body {
	color: $dark;
	font-family: 'Roboto', sans-serif;
	font-size: $sm;
	min-height: 100vh;
	background: rgba(41, 255, 191, 1); /* Old Browsers */
	background: linear-gradient(to bottom, rgba(41, 255, 191, 1) 0%, rgba(24, 236, 226, 1) 100%);
}

a {
	text-decoration: none;
}

p {
	font-size: $md;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

button:focus {
	outline: 0;
}

input[type='text'] {
	text-align: center;
	padding: $xs;
	border: 1px solid $borders;
	border-radius: $xxs;

	&:focus {
		outline: 1px solid $gray;
	}
}
